<div id="app"></div>
<a href="<%= from_root('/')%>tags">tags</a>
<ul>
  <div class="profile-circle">
	<a href="<%= from_root('/profile.html') %>" target="blank"><div class="outside">about</div></a>
  </div>
  <div class="comments">
	<h2>comments</h2>
	<% @lasted_comments.each do |c| %>
	<a href="<%= from_root('/page/' + c.blog_id.to_s) %>">
	  <div class="card2">
		<div class="box2">
		  <div>
			<p class="title2"><%= c.username %></p>
			<p class="content2"><%= c.comment[0,30] + "..." %></p>
		  </div>
		</div>
	  </div>
	</a>
	<% end %>
  </div>
  <div class="contents">
	<% @blog_all.all.each do |b| %>
	<section class="card">
	  <div class="card-content">
		<h1 class="card-title"><%= b.title.gsub(/<.*?>/,"")[0,30] + "..." %></h1>
		<p class="card-text"><%= b.body.gsub(/<.*?>/,"")[0,30] + "..." %></p>
	  </div>
	  <div class="card-link">
		<a href="<%= from_root('/page/' + b.id.to_s)%>">続きを読む</a>
	  </div>
	</section>
	<% end%>
  </div>
</ul>
