<h2 class="header"><%= @blog.title %></h2>
<div class="tag">
  <% @blog.tags_string.split().each do |tag_string| %>
  <a href="/tag/<%= tag_string%>"><%= tag_string%></a>
  <% end %>
</div>
<div class="body">
  <%= @blog.body.html_safe %>
  <p>comment:</p>

  <% @comments.each do |comment|%>
  <p><%= comment.username %> > <%= comment.comment %></p>
  <% end %>

  <%= form_for(@comment, url: { controller: :comments, action: :create }) do |comment| %>
  <div class="field">
	<%= comment.label(:username, "username:") %><br />
	<%= comment.text_field(:username) %>
  </div>
  <div class="field">
	<%= comment.label(:comment, "comment:") %>
	<%= comment.text_area(:comment) %>
  </div>
  <%= comment.hidden_field(:blog_id, value: @id) %>
  <%= comment.submit("send") %>
  <% end %>

</div>
<a href="/">Home</a>
