<div id="app"></div>
<a href="/tags">tags</a>
<ul>
  <div class="contents">
	<% @blog_all.all.each do |b| %>
	<section class="card">
	  <div class="card-content">
		<h1 class="card-title"><%= b.title.gsub(/<.*?>/,"")[0,30] + "..." %></h1>
		<p class="card-text"><%= b.body.gsub(/<.*?>/,"")[0,30] + "..." %></p>
	  </div>
	  <div class="card-link">
		<a href="<%= from_root('/') %>page/<%= b.id%>">続きを読む</a>
	  </div>
	</section>
	<% end%>
  </div>
</ul>
<a href="<%= from_root('/') %>">Home</a>
