<!DOCTYPE html>
<html>
  <head>
    <title>重荷怠惰iary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->
  </head>

  <body>
	<h2>重荷怠惰iary</h2>
    <%= yield %>

  </body>
</html>
